<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>MarklokationsId-Generator</title>
    <meta name="author" content="Hochfrequenz Unternehmensberatung GmbH">
    <meta name="description" content="Zufällig generierte MaLo-IDs mit gültiger Prüfziffer">
    <meta name="keywords" content="MaLo, MaLo-ID, Marktlokation, Test, Test-MaLo, Marktlokationsid">
    <meta http-equiv="cache-control" content="no-cache"/>
    <!-- prevent safari from formatting numbers with good intentions: https://stackoverflow.com/a/30426346/10009545 -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/style">
    <link rel="icon" type="image/x-icon" href="/favicon">
</head>
<body class="whiteBackground">
<!--
  ________________________________________
< Hey, kennst du schon unsere Jobangebote? >
  ----------------------------------------
         \   ^__^
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||
https://www.hochfrequenz.de/karriere/stellenangebote/full-stack-entwickler/
-->
<div id="content">
    <h1 class="{{ .issuer }}" title="Eine zufällige MaLo-ID mit gültiger Prüfziffer (Vergabestelle {{ .issuer }})"><div>{{
        .maLoIdWithoutChecksum }}<span class="checksum" title="Prüfziffer {{ .checksum }}">{{ .checksum }}</span></div>
    </h1>
</div>
<br style="clear:both" />
<div id="footer">powered by <a href="https://hochfrequenz.de/">
    hochfrequenz
</a></div>
</body>
</html>
