<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>MarklokationsId-Generator</title>
    <meta name="author" content="Hochfrequenz Unternehmensberatung GmbH">
    <meta name="description" content="Zufällig generierte MaLo-IDs mit gültiger Prüfziffer">
    <meta name="keywords" content="MaLo, MaLo-ID, Marktlokation, Test, Test-MaLo, Marktlokationsid">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/> <!-- fucking safari: https://stackoverflow.com/a/30426346/10009545 -->
    <link rel="stylesheet" href="/api/style">
    <link rel="icon" type="image/x-icon" href="/api/favicon">
</head>
<body class="whiteBackground">
<div id="content">
    <h1 class="{{ .division }}" title="Eine zufällige MaLo-ID mit gültiger Prüfziffer (Sparte {{ .division }})"><span>{{
        .maLoIdWithoutChecksum }}</span><span class="checksum" title="Prüfziffer {{ .checksum }}">{{ .checksum }}</span></h1>
</div>
<div id="footer">powered by <a href="https://hochfrequenz.de/">
    hochfrequenz
</a></div>
</body>
</html>
