<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>MesslokationsId-Generator (zufällige MeLo-IDs)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hochfrequenz Unternehmensberatung GmbH">
    <meta name="description" content="Zufällig generierte MeLo-ID">
    <meta name="keywords" content="MeLo, MeLo-ID, Messlokation, Test, Test-MeLo, Messlokationsid">
    <meta http-equiv="cache-control" content="no-cache"/>
    <!-- prevent safari from formatting numbers with good intentions: https://stackoverflow.com/a/30426346/10009545 -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/style">
    <link rel="icon" type="image/x-icon" href="/favicon">
    <script>
        function copyToClipboard() {
            var textToCopy = document.querySelector('#content h1').textContent.trim();
            navigator.clipboard.writeText(textToCopy)
                .then(function () {
                    var copyButton = document.getElementById('copyButton');
                    var originalText = copyButton.innerHTML;
                    copyButton.innerHTML = 'In Zwischenablage kopiert!';
                    copyButton.disabled = true;
                    setTimeout(function () {
                        copyButton.innerHTML = originalText;
                        copyButton.disabled = false;
                    }, 2000);
                })
                .catch(function (err) {
                    console.error('Fehler beim Kopieren in die Zwischenablage: ', err);
                });
        }

        function regenerateId() {
            location.reload();
        }
    </script>
</head>
<body>
{{ .recruitingMessage }}
<!-- We pass the HTML comment / recruiting ad as a parameter because the HTML comment was stripped from the template -->
<header>
    <h2>ID-Generator</h2>
</header>

<main>
    <div id="content-and-navbar">
        <div id="content">
            <h1 class="{{ .issuer }}" title="Eine zufällige MeLo-ID">
                <span class="landesziffern" title="Landescode (ISO 3166-1)">{{ .landesziffern }}</span><span class="netzbetreibernummer" title="Netzbetreibernummer (im Allgemeinen nicht gültig)">{{ .netzbetreibernummer }}</span><span class="postleitzahl" title="Postleitzahl (im Allgemeinen nicht gültig)">{{ .postleitzahl }}</span><span class="laufendeNummer" title="Laufende Nummer (A-Z und 0-9)">{{ .laufendeNummer }}</span>
            </h1>
            <div class="button-container">
                <button id="copyButton" onclick="copyToClipboard()">
                    <i class="fas fa-copy"></i> Kopieren
                </button>
                <button id="regenerateButton" onclick="regenerateId()">
                    <i class="fas fa-redo"></i> Neu generieren
                </button>
            </div>
        </div>
        <nav id="others">
            <a href="https://markt.lokations.id/">MaLo</a>
            <a class="selected" href="https://mess.lokations.id/">MeLo</a>
            <a href="https://netz.lokations.id/">NeLo</a>
            <a href="https://steuerbare.ressource.id/">SR</a>
            <a href="https://technische.ressource.id/">TR</a>
        </nav>
    </div>
</main>
<div id="solutions">
    <a class="ahbesser" href="https://ahb-tabellen.hochfrequenz.de">AHB-Tabellen</a>
    <a class="fristenkalender" href="https://fristenkalender.hochfrequenz.de">Fristenkalender</a>
    <a class="ahahnb" href="https://bedingungsbaum.hochfrequenz.de">Bedingungsbaum</a>
    <a class="entscheidungsbaum" href="https://ebd.hochfrequenz.de">Entscheidungsbaumdiagramm</a>
</div>
<footer>
    <div id="footer-content">
        <p>made with <span class="heart">♡</span> by <a href="https://hochfrequenz.de/" class="hflink">Hochfrequenz</a> |
            <a href="https://www.hochfrequenz.de/datenschutz/">Datenschutz</a> | <a
                    href="https://www.hochfrequenz.de/impressum/">Impressum</a> | <a
                    href="https://www.hochfrequenz.de/kontakt/">Kontakt</a> | <a
                    href="https://github.com/Hochfrequenz/malo-id-generator">GitHub</a></p>
    </div>
</footer>
</body>
</html>
