@import url("/hfstyle"); /* hochfrequenz.css */
:root {
    --primary-color: #6eb52c;
    --secondary-color: #e94c74;
    --background-color: #f3f1f6;
}

@font-face {
    font-family: "Roboto";
    src: url(/roboto-regular);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pastell-gruen);
    color: var(--weiches-schwarz);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--grell-gruen);
    color: var(--weiches-schwarz);
    background-image: url(/symbol);
    background-position: left+20px center;
    background-size: 2rem;
    background-repeat: no-repeat;
    text-align: left;
    padding: 1rem;
    padding-left: 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#content {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    color: var(--weiches-schwarz);
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.malo-id {
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.checksum {
    color: var(--grell-gruen);
    font-weight: bold;
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a941f;
}

button.copied {
    background-color: #4CAF50;
}

button.copied:after {
    content: " Copied!";
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 3.35rem; /* intended purpose: the copy button left edge and regenerate button right edge are aligned with the MaLo-button left edge and the TR-button right edge*/
    /* See Screenshot in PR https://github.com/Hochfrequenz/malo-id-generator/pull/175 */
    margin-top: 20px;
}

#copyButton, #regenerateButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

#copyButton {
    background-color: var(--grell-gruen);
    color: white;
}

#regenerateButton {
    background-color: var(--weiches-schwarz);
    color: white;
}

#copyButton:hover, #regenerateButton:hover {
    opacity: 0.8;
}

#copyButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

footer {
    background-color: var(--pastell-gruen);
    color: var(--weiches-schwarz);
    background-image: url(/logo);
    background-repeat: no-repeat;
    background-position: left+20px center;
    background-size: 10%;
    padding: 1rem;
    text-align: center;
}

#footer-content {
    /*margin-top: 1rem;*/
}

#footer-content a {
    color: var(--weiches-schwarz);
    text-decoration: none;
}

#footer-content a:hover {
    text-decoration: underline;
}

#others {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#others a {
    color: var(--weiches-schwarz);
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem; /* twice the padding to have a perfectly round shape left and right */
    background-color: rgba(30, 30, 30, 0.2);
    transition: background-color 0.3s;
}

a.hflink {
    font-weight: bold;
}

#others a:hover {
    background-color: rgba(30, 30, 30, 0.4);
}

#others .selected {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
}

#solutions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding: 0.5em;
}

#solutions a {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem; /* twice the padding to have a perfectly round shape left and right */
    /* each button has their own background-color */
    transition: background-color 0.3s;
}

#solutions a.ahbesser {
    background-color: var(--grell-rot);
}

#solutions a.fristenkalender {
    background-color: var(--grell-tuerkis);
}

#solutions a.ahahnb {
    background-color: var(--grell-gelb);
}

#solutions a.entscheidungsbaum {
    background-color: var(--grell-blau);
}

a.hflink {
    font-weight: bold;
}

.heart {
    font-size: x-large;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    #content {
        padding: 1rem;
    }
}
