body {
    font-family: "Yanone Kaffeesatz", "Roboto Condensed", sans-serif;
}

.whiteBackground {
    background-color: #f3f1f6;
}

h1 {
    font-size: 800%;
    color: #6eb52c;
    letter-spacing: -4px; /* to prevent line breaks between the ::after emoji and the malo id*/
}

.checksum {
    color: #e94c74;
}

.landesziffern {
    color: black;
    background-color: rgb(187 146 142);
}
.netzbetreibernummer {
    color: black;
    background-color: rgb(94 122 151);
}
.postleitzahl {
    color: black;
    background-color: rgb(183 157 117);
}
.laufendeNummer {
    color: black;
    background-color: rgb(145 169 167);
}

div#content {
    text-align: center;
    color: #7aab8a;
    max-width: 80% !important;
    min-width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
}


#footer {
    text-align: center;
    font-size: large;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#footer > a {
    font-weight: normal;
    font-style: normal;
    color: black;
}

#others{
    position:fixed;
    bottom:0;
}
#others > a{
    font-size: small;
    color: gray;
}
